<% layout('layouts/boilerplate1') %>

    <!-- Body injected in boilerplate1 -->
    <!-- Start Banner Hero -->
    <div class="banner-wrapper bg-light">
        <div id="index_banner" class="banner-vertical-center-index container-fluid py-0">

            <!-- Start slider -->
            <div id="carouselExampleIndicators" class="carousel slide carousel-dark" data-bs-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
                    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
                    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row d-flex align-items-center pt-5 pb-0">
                            <div class="banner-content col-lg-8 col-8 offset-2 m-lg-auto text-center py-2 pb-2">
                                <h1 class="banner-heading h1 text-primary display-3 mb-0 pb-5 mx-0 px-0 light-300">
                                    Welcome <del>Nerds</del> Geeks to
                                  <br>
                                  <strong>NerdyStan</strong>
                              </h1>
                                <h3 class="banner-body text-muted py-3 mx-0 px-0">
                                    Welcome to your dream place where you can list your Book and leave ratings and know more about other books that you never read!
                                </h3>
                            </div>
                        </div>

                    </div>
                    <div class="carousel-item">
                        <div class="py-1 row d-flex align-items-center pt-5 pb-0">
                            <div class="banner-content col-lg-8 col-8 offset-2 m-lg-auto text-center py-2 pb-2">
                                <h1 class="banner-heading h1 text-primary display-3 mb-0 pb-5 mx-0 px-0 light-300">
                                    <strong>Add a Book</strong>
                                </h1>
                                <h3 class="banner-body text-muted py-3">
                                    List a Book that you read recently and see what others think of it!
                                </h3>
                                <a class="banner-button btn rounded-pill btn-outline-primary btn-lg px-4" href="/books/new" role="button">Add A Book</a>
                            </div>
                        </div>

                    </div>
                    <div class="carousel-item">
                        <div class="py-1 row d-flex align-items-center pt-5 pb-0">
                            <div class="banner-content col-lg-8 col-8 offset-2 m-lg-auto text-center py-2 pb-2">
                                <h1 class="banner-heading h1 text-primary display-3 mb-0 pb-5 mx-0 px-0 light-300">
                                    <strong>Leave Reviews</strong>
                                </h1>
                                <h3 class="banner-body text-muted py-3">
                                    Review the Book You read and let Others Know how much you liked it!
                                </h3>
                                <a class="banner-button btn rounded-pill btn-outline-primary btn-lg px-4" href="#book-section" role="button">Find A Book To Review</a>
                            </div>
                        </div>

                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon dark" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon dark" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <!-- End slider -->

        </div>
    </div>
    <!-- End Banner Hero -->

    <section class="service-wrapper py-3">
        <div class="service-tag py-5 bg-secondary">
            <div class="col-md-12">
                <ul class="nav d-flex justify-content-center">
                    <li class="nav-item mx-lg-4">
                        <a class="filter-btn nav-link btn-outline-primary active shadow rounded-pill text-light px-4 light-300" href="#" data-filter=".project">View Books</a>
                    </li>
                    <li class="nav-item mx-lg-4">
                        <a class="filter-btn nav-link btn-outline-primary active shadow rounded-pill text-light px-4 light-300" href="#" data-filter=".graphic">Add Books</a>
                    </li>
                    <li class="filter-btn nav-item mx-lg-4">
                        <a class="filter-btn nav-link btn-outline-primary active shadow rounded-pill text-light px-4 light-300" href="#" data-filter=".ui">Review Books</a>
                    </li>
                    <li class="nav-item mx-lg-4">
                        <a class="filter-btn nav-link btn-outline-primary active shadow rounded-pill text-light px-4 light-300" href="#" data-filter=".branding">Buy Books</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section class="container py-5" id="book-section">
        <div class="row gx-5 gx-sm-3 gx-lg-5 gy-lg-5 gy-3 pb-3 projects">

             
            <!-- Start Recent Work -->
            <div class="col-xl-3 col-md-4 col-sm-6">
                <a href="/books/61856370ea404bfb378612d8 ">
                    <!-- <img class="service card-img" src="./assets/img/services-01.jpg" alt="Card image"> -->
                    <div class="img-box" id="index-img-box">
                        <img id="index-card-img" class="service card-img image__img" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1633443634l/57109107._SY475_.jpg " alt="Card image" height="400px">
                        <div class="image__overlay image__overlay--primary">
                            <div class="image__title"><h3>The Lincoln Highway</h3></div>
                            <p class="image__description">
                                By ~ abc 
                            </p>
                            <div class="small-star">
                                <div class="display-star-rating">
                                    <p><span class="stars">4.5</span></p>
                                </div>
                            </div> 
                        </div>
                    </div>
                </a>
            </div><!-- End Recent Work -->
         
            <!-- Start Recent Work -->
            <div class="col-xl-3 col-md-4 col-sm-6">
                <a href="/books/61863d8f696f5cc794486e74 ">
                    <!-- <img class="service card-img" src="./assets/img/services-01.jpg" alt="Card image"> -->
                    <div class="img-box" id="index-img-box">
                        <img id="index-card-img" class="service card-img image__img" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1633443634l/57109107._SY475_.jpg " alt="Card image" height="400px">
                        <div class="image__overlay image__overlay--primary justify-content-center">
                            <div class="image__title"><h3>ddg</h3></div>
                            <p class="image__description">
                                By ~ dd 
                            </p>
                            <div class="small-star">
                                <div class="display-star-rating small-star-inner text-center">
                                    <p><span class="stars">4.5</span></p>
                                </div>
                            </div> 
                        </div>
                    </div>
                </a>
            </div><!-- End Recent Work -->
         
            <!-- Start Recent Work -->
            <div class="col-xl-3 col-md-4 col-sm-6">
                <a href="/books/61893cbfa22241a337952faf ">
                    <!-- <img class="service card-img" src="./assets/img/services-01.jpg" alt="Card image"> -->
                    <div class="img-box" id="index-img-box">
                        <img id="index-card-img" class="service card-img image__img" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1633443634l/57109107._SY475_.jpg " alt="Card image" height="400px">
                        <div class="image__overlay image__overlay--primary">
                            <div class="image__title"><h3>Peril at End House</h3></div>
                            <p class="image__description">
                                By ~ Agatha Cristie 
                            </p>
                            
                                <div class="small-star">
                                    <div class="display-star-rating">
                                        <p><span class="stars">4.5</span></p>
                                    </div>
                                </div>
                                 
                        </div>
                    </div>
                </a>
            </div><!-- End Recent Work -->
         
            <!-- Start Recent Work -->
            <div class="col-xl-3 col-md-4 col-sm-6">
                <a href="/books/61893d15a22241a337952fb2 ">
                    <!-- <img class="service card-img" src="./assets/img/services-01.jpg" alt="Card image"> -->
                    <div class="img-box" id="index-img-box">
                        <img id="index-card-img" class="service card-img image__img" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1586722975l/2767052.jpg " alt="Card image" height="400px">
                        <div class="image__overlay image__overlay--primary">
                            <div class="image__title"><h3>The Hunter Games</h3></div>
                            <p class="image__description">
                                By ~ Suzanne Collins 
                            </p>
                            
                                <div class="small-star">
                                    <div class="display-star-rating">
                                        <p><span class="stars">4.5</span></p>
                                    </div>
                                </div>
                                 
                        </div>
                    </div>
                </a>
            </div><!-- End Recent Work -->
         

        </div>
    </section>
    <!-- End Service -->






    <!-- Start View Work -->
    <section class="bg-secondary">
        <div class="container py-4 text-center">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-7 col-12 text-light pt-2">
                    <h3>There is No friend as loyal as a Book ~ <i>Ernest Hemingway</i></h3>
                </div>
            </div>
        </div>
    </section>
    <!-- End View Work -->

    <!-- Start Recent Work -->
    <section class="py-5 mb-5" id="more-books">
        <div class="container">
            <div class="recent-work-header row text-center pb-5">
                <h2 id="more-books" class="col-md-6 m-auto h1 py-3 text-primary">More Books</h2>
            </div>
            <div class="row gy-5 g-lg-5 mb-4">

                 
                <!-- Start Recent Work -->
                <div class="col-xl-3 col-md-4 col-sm-6 mb-3">
                    <a href="/books/6189401ea22241a337952fbf ">
                        <!-- <img class="service card-img" src="./assets/img/services-01.jpg" alt="Card image"> -->
                        <div class="img-box" id="index-img-box">
                            <img id="index-card-img" class="service card-img image__img" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1629308432l/56897951.jpg " alt="Card image" height="400px">
                            <div class="image__overlay image__overlay--primary">
                                <div class="image__title"><h3>Through the Glass Ceiling to the Stars</h3></div>
                                <p class="image__description">
                                    By ~ Eileen M. Collins, Jonathan H. Ward 
                                </p>
                                
                                    <div class="small-star">
                                        <div class="display-star-rating">
                                            <p><span class="stars">4.5</span></p>
                                        </div>
                                    </div>
                                     
                            </div>
                        </div>
                    </a>
                </div><!-- End Recent Work -->
                
                 
                <!-- Start Recent Work -->
                <div class="col-xl-3 col-md-4 col-sm-6 mb-3">
                    <a href="/books/618940bba22241a337952fc6 ">
                        <!-- <img class="service card-img" src="./assets/img/services-01.jpg" alt="Card image"> -->
                        <div class="img-box" id="index-img-box">
                            <img id="index-card-img" class="service card-img image__img" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1625673640l/55711726.jpg " alt="Card image" height="400px">
                            <div class="image__overlay image__overlay--primary">
                                <div class="image__title"><h3>The People We Keep</h3></div>
                                <p class="image__description">
                                    By ~ Allison Larkin 
                                </p>
                                
                                    <div class="small-star">
                                        <div class="display-star-rating">
                                            <p><span class="stars">4.5</span></p>
                                        </div>
                                    </div>
                                     
                            </div>
                        </div>
                    </a>
                </div><!-- End Recent Work -->
                
                 
                <!-- Start Recent Work -->
                <div class="col-xl-3 col-md-4 col-sm-6 mb-3">
                    <a href="/books/61895328a22241a337952fe5 ">
                        <!-- <img class="service card-img" src="./assets/img/services-01.jpg" alt="Card image"> -->
                        <div class="img-box" id="index-img-box">
                            <img id="index-card-img" class="service card-img image__img" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1628537485l/56555529.jpg " alt="Card image" height="400px">
                            <div class="image__overlay image__overlay--primary">
                                <div class="image__title"><h3>The Mother Next Door</h3></div>
                                <p class="image__description">
                                    By ~ Tara Laskowski 
                                </p>
                                
                                    <div class="small-star">
                                        <div class="display-star-rating">
                                            <p><span class="stars">4.5</span></p>
                                        </div>
                                    </div>
                                     
                            </div>
                        </div>
                    </a>
                </div><!-- End Recent Work -->
                
                 
                <!-- Start Recent Work -->
                <div class="col-xl-3 col-md-4 col-sm-6 mb-3">
                    <a href="/books/618b8c14a792b8e38bdd8ebb ">
                        <!-- <img class="service card-img" src="./assets/img/services-01.jpg" alt="Card image"> -->
                        <div class="img-box" id="index-img-box">
                            <img id="index-card-img" class="service card-img image__img" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1632246372l/58158570.jpg " alt="Card image" height="400px">
                            <div class="image__overlay image__overlay--primary">
                                <div class="image__title"><h3>Femlandia</h3></div>
                                <p class="image__description">
                                    By ~ Christina Dalcher 
                                </p>
                                
                                    <div class="small-star">
                                        <div class="display-star-rating">
                                            <p><span class="stars">4.5</span></p>
                                        </div>
                                    </div>
                                     
                            </div>
                        </div>
                    </a>
                </div><!-- End Recent Work -->
                
                 

            </div>
        </div>
    </section>