<!-- Start Recent Work -->
<div class="col-xl-3 col-md-4 col-sm-6 project ui graphic">
    <a href="#" class="service-work card border-0 text-white shadow-sm overflow-hidden mx-5 m-sm-0">
        <img class="card-img" src="./assets/img/services-02.jpg" alt="Card image">
        <div class="service-work-vertical card-img-overlay d-flex align-items-end">
            <div class="service-work-content text-left text-light">
                <span class="btn btn-outline-light rounded-pill mb-lg-3 px-lg-4 light-300">Social Media</span>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing</p>
            </div>
        </div>
    </a>
</div><!-- End Recent Work -->

<!-- Start Recent Work -->
<div class="col-xl-3 col-md-4 col-sm-6 project branding">
    <a href="#" class="service-work card border-0 text-white shadow-sm overflow-hidden mx-5 m-sm-0">
        <img class="card-img" src="./assets/img/services-03.jpg" alt="Card image">
        <div class="service-work-vertical card-img-overlay d-flex align-items-end">
            <div class="service-work-content text-left text-light">
                <span class="btn btn-outline-light rounded-pill mb-lg-3 px-lg-4 light-300">Marketing</span>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing</p>
            </div>
        </div>
    </a>
</div><!-- End Recent Work -->

<!-- Start Recent Work -->
<div class="col-xl-3 col-md-4 col-sm-6 project ui graphic">
    <a href="#" class="service-work card border-0 text-white shadow-sm overflow-hidden mx-5 m-sm-0">
        <img class="card-img" src="./assets/img/services-04.jpg" alt="Card image">
        <div class="service-work-vertical card-img-overlay d-flex align-items-end">
            <div class="service-work-content text-left text-light">
                <span class="btn btn-outline-light rounded-pill mb-lg-3 px-lg-4 light-300">Graphic</span>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing</p>
            </div>
        </div>
    </a>
</div><!-- End Recent Work -->

<!-- Start Recent Work -->
<div class="col-xl-3 col-md-4 col-sm-6 project ui graphic">
    <a href="#" class="service-work card border-0 text-white shadow-sm overflow-hidden mx-5 m-sm-0">
        <img class="card-img" src="./assets/img/services-05.jpg" alt="Card image">
        <div class="service-work-vertical card-img-overlay d-flex align-items-end">
            <div class="service-work-content text-left text-light">
                <span class="btn btn-outline-light rounded-pill mb-lg-3 px-lg-4 light-300">Digtal Marketing</span>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing</p>
            </div>
        </div>
    </a>
</div><!-- End Recent Work -->

<!-- Start Recent Work -->
<div class="col-xl-3 col-md-4 col-sm-6 project branding">
    <a href="#" class="service-work card border-0 text-white shadow-sm overflow-hidden mx-5 m-sm-0">
        <img class="card-img" src="./assets/img/services-06.jpg" alt="Card image">
        <div class="service-work-vertical card-img-overlay d-flex align-items-end">
            <div class="service-work-content text-left text-light">
                <span class="btn btn-outline-light rounded-pill mb-lg-3 px-lg-4 light-300">Market Research</span>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing</p>
            </div>
        </div>
    </a>
</div><!-- End Recent Work -->

<!-- Start Recent Work -->
<div class="col-xl-3 col-md-4 col-sm-6 project branding">
    <a href="#" class="service-work card border-0 text-white shadow-sm overflow-hidden mx-5 m-sm-0">
        <img class="card-img" src="./assets/img/services-07.jpg" alt="Card image">
        <div class="service-work-vertical card-img-overlay d-flex align-items-end">
            <div class="service-work-content text-left text-light">
                <span class="btn btn-outline-light rounded-pill mb-lg-3 px-lg-4 light-300">Business</span>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing</p>
            </div>
        </div>
    </a>
</div><!-- End Recent Work -->

<!-- Start Recent Work -->
<div class="col-xl-3 col-md-4 col-sm-6 project ui graphic branding">
    <a href="#" class="service-work card border-0 text-white shadow-sm overflow-hidden mx-5 m-sm-0">
        <img class="card-img" src="./assets/img/services-08.jpg" alt="Card image">
        <div class="service-work-vertical card-img-overlay d-flex align-items-end">
            <div class="service-work-content text-left text-light">
                <span class="btn btn-outline-light rounded-pill mb-lg-3 px-lg-4 light-300">Branding</span>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing</p>
            </div>
        </div>
    </a>
</div><!-- End Recent Work -->



    <!-- Start Recent Work -->
    <section class="py-5 mb-5">
        <div class="container">
            <div class="recent-work-header row text-center pb-5">
                <h2 class="col-md-6 m-auto h2 semi-bold-600 py-5">Recent Works</h2>
            </div>
            <div class="row gy-5 g-lg-5 mb-4">

                <!-- Start Recent Work -->
                <div class="col-md-4 mb-3">
                    <a href="#" class="recent-work card border-0 shadow-lg overflow-hidden">
                        <img class="recent-work-img card-img" src="./assets/img/recent-work-01.jpg" alt="Card image">
                        <div class="recent-work-vertical card-img-overlay d-flex align-items-end">
                            <div class="recent-work-content text-start mb-3 ml-3 text-dark">
                                <h3 class="card-title light-300">Social Media</h3>
                                <p class="card-text">Ullamco laboris nisi ut aliquip ex</p>
                            </div>
                        </div>
                    </a>
                </div><!-- End Recent Work -->

                <!-- Start Recent Work -->
                <div class="col-md-4 mb-3">
                    <a href="#" class="recent-work card border-0 shadow-lg overflow-hidden">
                        <img class="recent-work-img card-img" src="./assets/img/recent-work-02.jpg" alt="Card image">
                        <div class="recent-work-vertical card-img-overlay d-flex align-items-end">
                            <div class="recent-work-content text-start mb-3 ml-3 text-dark">
                                <h3 class="card-title light-300">Web Marketing</h3>
                                <p class="card-text">Psum officia anim id est laborum.</p>
                            </div>
                        </div>
                    </a>
                </div><!-- End Recent Work -->

                <!-- Start Recent Work -->
                <div class="col-md-4 mb-3">
                    <a href="#" class="recent-work card border-0 shadow-lg overflow-hidden">
                        <img class="recent-work-img card-img" src="./assets/img/recent-work-03.jpg" alt="Card image">
                        <div class="recent-work-vertical card-img-overlay d-flex align-items-end">
                            <div class="recent-work-content text-start mb-3 ml-3 text-dark">
                                <h3 class="card-title light-300">R & D</h3>
                                <p class="card-text">Sum dolor sit consencutur</p>
                            </div>
                        </div>
                    </a>
                </div><!-- End Recent Work -->

                <!-- Start Recent Work -->
                <div class="col-md-4 mb-3">
                    <a href="#" class="recent-work card border-0 shadow-lg overflow-hidden">
                        <img class="recent-work-img card-img" src="./assets/img/recent-work-04.jpg" alt="Card image">
                        <div class="recent-work-vertical card-img-overlay d-flex align-items-end">
                            <div class="recent-work-content text-start mb-3 ml-3 text-dark">
                                <h3 class="card-title light-300">Public Relation</h3>
                                <p class="card-text">Lorem ipsum dolor sit amet</p>
                            </div>
                        </div>
                    </a>
                </div><!-- End Recent Work -->

                <!-- Start Recent Work -->
                <div class="col-md-4 mb-3">
                    <a href="#" class="recent-work card border-0 shadow-lg overflow-hidden">
                        <img class="recent-work-img card-img" src="./assets/img/recent-work-05.jpg" alt="Card image">
                        <div class="recent-work-vertical card-img-overlay d-flex align-items-end">
                            <div class="recent-work-content text-start mb-3 ml-3 text-dark">
                                <h3 class="card-title light-300">Branding</h3>
                                <p class="card-text">Put enim ad minim veniam</p>
                            </div>
                        </div>
                    </a>
                </div><!-- End Recent Work -->

                <!-- Start Recent Work -->
                <div class="col-md-4 mb-3">
                    <a href="#" class="recent-work card border-0 shadow-lg overflow-hidden">
                        <img class="recent-work-img card-img" src="./assets/img/recent-work-06.jpg" alt="Card image">
                        <div class="recent-work-vertical card-img-overlay d-flex align-items-end">
                            <div class="recent-work-content text-start mb-3 ml-3 text-dark">
                                <h3 class="card-title light-300">Creative Design</h3>
                                <p class="card-text">Mollit anim id est laborum.</p>
                            </div>
                        </div>
                    </a>
                </div><!-- End Recent Work -->

            </div>
        </div>
    </section>
    <!-- End Recent Work -->