    <!-- footer partial to be added in boilerplate -->
    <div class="footer-dark"><!-- dark background -->
        <footer>
            <div class="container"><!-- bootstrap container for rows and cols -->
                <div class="row">
                    <!--4 cols of size 3 -->
                    <!-- description of various pages of the site and links under unordered list -->
                    <div class="col-md-3 item">
                        <h3><a class="footer-links" href="/">Home</a></h3>
                        <ul>
                            <li><a class="footer-links" href="/">Get Back To The Gallery</a></li>
                        </ul>
                    </div>
                    <!-- description of various pages of the site and links under unordered list -->
                    <div class="col-md-3 item">
                        <h3><a class="footer-links" href="/books/new">Add Books</a></h3>
                        <ul>
                            <li><a class="footer-links" href="/books/new">New Book In Mind?</a></li>
                            <li><a class="footer-links" href="/books/new">Add Them</a></li>
                        </ul>
                    </div>
                    <!-- description of various pages of the site and links under unordered list -->
                    <div class="col-md-3 item">
                        <h3><a class="footer-links" href="/books/#book-section">Books Section</a></h3>
                        <ul>
                            <li><a class="footer-links" href="/books/#book-section">View Some Of Our Best Collections</a></li>
                        </ul>
                    </div>
                    <!-- description of various pages of the site and links under unordered list -->
                    <div class="col-md-3 item">
                        <h3><a class="footer-links" href="/books/#more-books">More Books</a></h3>
                        <ul>
                            <li><a class="footer-links" href="/books/#more-books">Our List Doesn't Stop There.</a></li>
                            <li><a class="footer-links" href="/books/#more-books">View More</a></li>
                        </ul>
                    </div>
                    <!-- section for various social media links -->
                    <div class="col item social"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-youtube"></i></a><a href="#"><i class="fa fa-instagram"></i></a><a href="#"><i class="fa fa-google"></i></a></div>
                </div>
                <p class="copyright">© Copyright 2021 NerdyStan. All Rights Reserved.</p>
            </div>
        </footer>
    </div> 
    </body>
    
    </html>