    <!-- Start Footer -->
    <footer class="bg-secondary">
        <!-- dark background with some padding -->
        <div class="w-100 bg-dark py-3">
            <!-- bootstrap container -->
            <div class="container">
                <!-- row component -->
                <div class="row pt-2">
                    <!-- column width 6 for >= large and 12 for >= sm size -->
                    <div class="col-lg-6 col-sm-12">
                        <!-- copyright text -->
                        <p class="text-lg-start text-center text-light light-300">
                            © Copyright 2021 NerdyStan. All Rights Reserved.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <!-- End Footer -->