    <!-- include the footer partial -->
    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-3 item">
                        <h3><a href="/">Home</a></h3>
                        <ul>
                            <li><a href="/">Get Back To The Gallery</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 item">
                        <h3><a href="/books/new">Add Books</a></h3>
                        <ul>
                            <li><a href="/books/new">New Book In Mind?</a></li>
                            <li><a href="/books/new">Add Them</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 item">
                        <h3><a href="/books/#book-section">Books Section</a></h3>
                        <ul>
                            <li><a href="/books/#book-section">View Some Of Our Best Collections</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 item">
                        <h3><a href="/books/#more-books">More Books</a></h3>
                        <ul>
                            <li><a href="/books/#more-books">Our List Doesn't Stop There.</a></li>
                            <li><a href="/books/#more-books">View More</a></li>
                        </ul>
                    </div>
                    <div class="col item social"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-youtube"></i></a><a href="#"><i class="fa fa-instagram"></i></a><a href="#"><i class="fa fa-google"></i></a></div>
                </div>
                <p class="copyright">© Copyright 2021 NerdyStan. All Rights Reserved.</p>
            </div>
        </footer>
    </div> 
    </body>
    
    </html>