<!-- bootsrap nav component -->
<nav id="main_nav" class="navbar navbar-expand-lg navbar-dark bg-dark shadow py-3"> <!-- dark navbar, shadowed, padded in y-dir -->
  <div class="container d-flex justify-content-between align-items-center"> <!-- flex container to align items, justify between -->
    <a class="navbar-brand h1" href="/books"> <!-- Brand title link -->
      <span class="text-light h2 py-2">Nerdy</span><span class="text-primary h2 py-3">Stan</span> <!-- brand title white,blue color -->
    </a>
    <!-- toggler button - hamburger icon -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- collapsable navbar -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <!-- equal width flex fill elements -->
      <div class="flex-fill mx-xl-5 mb-0">
        <!-- unordered list with collapse text at start, otherwise links content-between -->
        <ul class="navbar-nav text-start justify-content-between mx-xl-5">
          <!-- list items with links for different pages and sections of the page -->
          <li class="nav-item">
            <a class="nav-link btn-outline-primary rounded px-3 py-2 h5" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn-outline-primary rounded px-3 py-2 h5" href="/books/new">Add A New Book</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn-outline-primary rounded px-3 py-2 h5" href="/books/#book-section">Books Section</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn-outline-primary rounded px-3 py-2 h5" href="/books/#more-books">More Books</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>