<% layout('layouts/boilerplate1')%>
<div class="row pt-3">
    <div class="col-6 offset-3"><!-- centering column -->
        <div class="alert alert-danger" role="alert"> <!-- alert color div -->
            <h4 class="alert-heading"><%=err.message%></h4> <!-- display error message -->
            <p><%= err.stack %></p> <!-- display error stack -->
        </div>
    </div>
</div>