/* Importing some font families from Google Fonts */
@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap");

.light-300 {
  font-family: "Open Sans", sans-serif !important;
  font-weight: 300;
}
.regular-400 {
  font-family: "Open Sans", sans-serif !important;
  font-weight: 400;
}
.semi-bold-600 {
  font-family: "Open Sans", sans-serif !important;
  font-weight: 600;
}

* {
  box-sizing: border-box;
}

/* ------------------------------------Form Styling------------------------------ */
/* Boday layout for form pages */
body .book-form {
  background: url("https://www.teahub.io/photos/full/43-435347_1920x1080-wallpaper-purple-blue-gradient-linear-light-light.jpg")
    center center fixed no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  padding: 40px;
}

/* Container attributes of the form */
.book-form .container {
  background-color: #fafafa;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  width: 800px;
  max-width: 100%;
  padding: 0px;
}

/* Header with gradient coloring and its attribute */
.header1 {
  border-bottom: 1px solid #f0f0f0;
  background-color: #7f53ac;
  background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
  padding: 20px;
  text-align: center;
}

.header h2 {
  margin: 0;
}

.form {
  padding: 20px 20px;
}

/* Styling for individual form feilds */
.form-control {
  border: 0px;
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
  background-color: #fafafa;
}

/* Styling form labels */
.form-control label {
  display: inline-block;
  margin-bottom: 5px;
}

/* Styling input box */
.form-control input {
  border: 2px solid #ccc;
  border-radius: 4px;
  display: block;
  font-family: inherit;
  font-size: 14px;
  padding: 10px;
  width: 100%;
}

/* Styling textarea form */
.form-control textarea {
  border: 2px solid #ccc;
  border-radius: 4px;
  display: block;
  font-family: inherit;
  font-size: 14px;
  padding: 10px;
  width: 100%;
  resize: none;
  height: 100px;
}

/* On click change border color to more dark */
.form-control input:focus {
  outline: 0;
  border-color: #777;
}

/* On click change border color to more dark */
.form-control textarea:focus {
  outline: 0;
  border-color: #777;
}

/* -------------------------------Form Validation Classes-------------------------- */
/* If input of feild is valid then set its feild class to success */
.form-control.success input {
  border-color: #2ecc71;
}

/* If input of feild is not valid then set its feild class to success */
.form-control.error input {
  border-color: #e74c3c;
}

/* If input of feild is valid then set its feild class to success */
.form-control.success textarea {
  border-color: #2ecc71;
}

/* If input of feild is not valid then set its feild class to success */
.form-control.error textarea {
  border-color: #e74c3c;
}

/* By default icons for check-mark and error are not visible */
.form-control i {
  visibility: hidden;
  position: absolute;
  top: 50px;
  right: 18px;
}

#form-price i {
  top: 87px;
}

/* On submission icon is visible */
.form-control.success i.fa-check-circle {
  color: #2ecc71;
  visibility: visible;
}

/* On submission icon is visible */
.form-control.error i.fa-exclamation-circle {
  color: #e74c3c;
  visibility: visible;
}

/* By default error message inside small tag isnot visible */
.form-control small {
  color: #e74c3c;
  position: absolute;
  bottom: 0;
  left: 12px;
  visibility: hidden;
}
/* ------------------------------------------------------------------------------- */

/* On submission error message becomes visible */
.form-control.error small {
  visibility: visible;
}

/* Styling for form submission button */
.form button {
  background-color: #7f53ac;
  background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
  border: 0px;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-family: inherit;
  font-size: 16px;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
}

/* Styling for form submission button */
#book-btn {
  background-color: #7f53ac;
  background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
  border: 0px;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-family: inherit;
  font-size: 16px;
  padding: 10px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 80%;
}

/* Styling for go back to book page button */
#back-to-book {
  display: block;
  border: 0px solid black;
  background-color: #aaa;
  text-align: center;
  margin: auto;
  margin: 20px 95px;
  margin-top: 0px;
  height: 40px;
  text-decoration: none;
  border-radius: 4px;
  padding-top: 6px;
}
/* -------------------------------------------------------------------------- */

/* ----------------------Gallery Book Images And Overlays-------------------- */
/*Styling for book images  */
.img-box {
  border-radius: 10px;
  justify-content: center;
  position: relative;
  width: 100%;
  box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.3);
  transition: 0.5s;
}

/* On hover changing its scale */
.img-box:hover {
  border-radius: 30px;
  transform: scale(1.15);
  z-index: 2;
}

/*Styling for book images  */
.image {
  position: relative;
  width: 400px;
}

/*Styling for book images  */
.image__img {
  border-radius: 10px;
  display: block;
  width: 100%;
}
/*Styling for book overlays */
.image__overlay {
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255, 0.5);
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
}

/* When hovering overlay items move up */
.image__overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

/* When hovering overlay opacity is 1*/
.image__overlay:hover {
  opacity: 1;
}

/* Overlay does not move up */
.image__overlay:hover > * {
  transform: translateY(0);
}

/* Styling of overlay title */
.image__title {
  font-size: 1em;
  border: 2px solid black;
  border-radius: 20px;
  padding: 2.5% 7%;
  overflow: hidden;
  margin: 20px;
}

/* Styling of overlay title */
.image__title h3 {
  font-weight: bold;
  color: black;
  font-family: "Open Sans", sans-serif;
  margin: auto;
  /* white-space: nowrap; */
  text-align: center;
  overflow: hidden;
  font-size: 17px;
}

/* Styling of overlay author */
.image__description {
  text-align: center;
  font-size: 16px;
  margin-top: 0.25em;
  color: black;
}
/* ----------------------------------------------------------------------------- */
#more-books {
  font-size: 4rem;
  font-weight: lighter;
}

#carousel .carousel-inner {
  height: 50vh;
}

@media only screen and (max-width: 992px) {
  #index-card-img {
    height: 300px;
  }
}

@media only screen and (max-width: 768px) {
  #index-card-img {
    height: 300px;
  }
  #index-img-box {
    height: 300px;
  }
}

@media only screen and (max-width: 525px) {
  #index-card-img {
    height: 250px;
    width: 250px;
  }
  #index-img-box {
    height: 250px;
    width: 250px;
  }
}

/*----------------------------Styling for input rating-------------------------- */
/* Styling Input Rating */
.rating {
  float: left;
  width: 300px;
}

/* Styling Input Rating Span*/
.rating span {
  float: right;
  position: relative;
}

/* Positioning Input Rating */
.rating span input {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
}

/* Styling Rating Label*/
.rating span label {
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  background: #fff;
  color: #ccc;
  font-size: 30px;
  margin-right: 2px;
  line-height: 30px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}
.rating span:hover ~ span label,
.rating span:hover label,
.rating span.checked label,
.rating span.checked ~ span label {
  color: #f90;
  background: #fff;
}

/* Styling Star-Rating Id*/
#star-rating {
  text-align: center;
  display: block;
  padding: 0px;
  margin-bottom: 0px;
}

/* Styling Rating Label*/
.ratings label {
  margin: 10px;
}
/* ------------------------------------------------------------------------------------ */

/*------------------------------------Footer--------------------------------------------*/

/* Styling footer tags */
.footer-dark {
  padding: 50px 0;
  color: #f0f9ff;
  background-color: #282d32;
}

/* Styling footer h3 tag*/
.footer-dark h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}

/* Styling footer h3 tag*/
.footer-dark ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

/* Styling footer h3 tag*/
.footer-dark ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.6;
}

/* Styling footer ul tag*/
.footer-dark ul a:hover {
  opacity: 0.8;
}

@media (max-width: 767px) {
  .footer-dark .item:not(.social) {
    text-align: center;
    padding-bottom: 20px;
  }
}

.footer-dark .item.text {
  margin-bottom: 36px;
}

@media (max-width: 767px) {
  .footer-dark .item.text {
    margin-bottom: 0;
  }
}

/* Styling footer p tag*/
.footer-dark .item.text p {
  opacity: 0.6;
  margin-bottom: 0;
}

/* Styling footer socail icons*/
.footer-dark .item.social {
  text-align: center;
}

/* Styling footer socail icons*/
@media (max-width: 991px) {
  .footer-dark .item.social {
    text-align: center;
    margin-top: 20px;
  }
}

/* Styling footer socail icons*/
.footer-dark .item.social > a {
  font-size: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
  margin: 0 8px;
  color: #fff;
  opacity: 0.75;
}

/* Hover styling footer socail icons*/
.footer-dark .item.social > a:hover {
  opacity: 0.9;
}

/* Styling footer copyright*/
.footer-dark .copyright {
  text-align: center;
  padding-top: 24px;
  opacity: 0.3;
  font-size: 13px;
  margin-bottom: 0;
}

.footer-links {
  text-decoration: none;
}

/*-----------------------------------------------------------------------------------------*/

/*----------------------------------Display Star Rating------------------------------------*/
.top-star {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  display: block;
}

/* Styling star and star span */
span.stars,
span.stars span {
  display: block;
  background: 0 0 repeat-x;
  width: 200px; /* width of a star multiplied by 5 */
  height: 40px; /* the height of the star */
  background-size: 40px 40px;
}

/* Setting Star Icon */
span.stars span {
  background-position: 0 0;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/747/star.svg);
}

/* Setting star width for image overlay */
.display-stars-overlay span.stars span {
  background-size: 40px 25px;
}

/* Styling padding for star overlay */
.display-stars-overlay {
  padding-top: 70px;
}
/*----------------------------------------------------------------------------------------*/

/* ---------------------------------Additional Stylings--------------------------------- */
.font-start {
  justify-content: start;
}

/* Show page image shadow styling */
#target-img {
  box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.3);
}

.Review-Title {
  padding-left: 12px;
}

/* Height of rating bar */
.progress {
  height: 10px;
}
/* ------------------------------------------------------------------------------------- */
